*.class
*.pyc
*.pyd
.coverage
.eggs/
.idea/
/_javabridge.c
/_javabridge_mac.c
/_javabridge_nomac.c
/build
/dist
/docs/_build
/docs/build
/javabridge.egg-info
/javabridge/*.so
/javabridge/_version.py
/javabridge/jars/*java2cpython.*
/javabridge/jars/cpython.jar
/javabridge/jars/findlibjvm.jar
/javabridge/jars/runnablequeue.jar
/javabridge/jars/test.jar
/python_javabridge.egg-info
