/build
/_javabridge.c
*.pyc
/javabridge/_javabridge.so
/python_javabridge.egg-info
/docs/_build
*.class
/javabridge/jars/findlibjvm.jar
/javabridge/jars/runnablequeue.jar
/dist
/docs/build
/javabridge.egg-info
