recursive-include java *.java
include mac_javabridge_utils.h
include strtoull.c
include _javabridge.c
include _javabridge_mac.c
include _javabridge_nomac.c
recursive-include javabridge/tests *.py
recursive-include javabridge/jars *.jar
