recursive-include java *.java
include mac_javabridge_utils.c
include mac_javabridge_utils.h
include strtoull.c
include _javabridge.c
include _javabridge_mac.c
include _javabridge_nomac.c
include java/org_cellprofiler_javabridge_CPython.c
include java/org_cellprofiler_javabridge_CPython.h
recursive-include javabridge/tests *.py
recursive-include javabridge/jars *.jar
prune *.pyx
